body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Palatino Linotype', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Palatino Linotype', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.jumbotron{
    background-color: goldenrod;
}

.navbar{
    background-color: navy;
    color: goldenrod;
}

.nav >  li > a{
    color: goldenrod;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
