@{
    ViewBag.Title = "About the Collective";
    ViewBag.Message = "By Developers, for Developers";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>The Collective formed in 2016 to help centralize knowledge and form a network of supportive developers in Cleveland, Akron and 
    throughout Northeast Ohio. 
    Our mission is to help developers grow in their craft, professional network and career opportunities both 
    locally and globally.</p>
<p>Our members partner with each other to code and program great solutions for community needs. We are technology agnostic, and
    we appreciate and promote the use of diverse technology stacks to meet user needs.</p>
<p>The Collective helps our members by pointing them to professional growth activities, specific groups, and other resources
    that help them expand their personal, team, employer, and community knowledge base. That way, we continue the 
    awesome growth and capabilities of the NEO/Cleveland/Akron development community.</p>

<h3>NEO Events</h3>
<p>Coming Soon!</p>

<h3>NEO Information</h3>
<p>Coming Soon!</p>

<h3>NEO Contract Opportunities</h3>
<p>Coming Soon!</p>

<h3>NEO Job Opportunities</h3>
<p>Coming Soon!</p>

<h3>NEO Continuing Education Opportunities</h3>
<p>Coming Soon!</p>

<h3>NEO Developer's Forum</h3>
<p>Coming Soon!</p>

<h3>NEOSDC Blog</h3>
<p>Coming Soon!</p>

<h3>NEOSDC Feedback Survey</h3>
<p>Coming Soon!</p>

<h3>NEO Developer Resources</h3>
<p>Coming Soon!</p>