@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Reach us at the NEOSDC";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Cleveland, Ohio<br />
    <br />
    <abbr title="Phone">P:</abbr>
    216-202-0410
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@neosdc.com">Support@neosdc.com</a><br />
    <strong>Membership:</strong> <a href="mailto:Membership@neosdc.com">Membership@neosdc.com</a>
</address>