@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the Northeast Ohio Software Developer's Collective!</h1>
    <p class="lead">The NEOSDC is a community of software developers and engineers in Cleveland, Akron and throughout Northeast Ohio,
    advancing the craft of software development and engineering, and offering support for professional development.</p>
    <p><a href=# class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Local Tech Meetups</h2>
        <p>
            Cleveland, Akron and NEO have a lot of local active developer and user groups that meet regularly.
        Many of them post their meetings on Meetup.com. Click the link to choose from the local groups and see 
        what is on the calendar. Members get special invites on upcoming hackathons and giving-back opportunities.</p>
        <p><a class="btn btn-default" href="https://www.meetup.com/find/tech/?allMeetups=false&radius=50&userFreeform=Cleveland%2C+Ohio%2C+USA&mcId=c44101&change=yes&sort=default">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dev Learning Libraries</h2>
        <p>Developers know there are a ton of free learning and career development tools out there. If you are in NEO, 
        you get access to lynda.com for free through the Cleveland Public Library, if you are a card holder. We will add additional 
        special access learning resources for members as we find out about them!</p>
        <p><a class="btn btn-default" href="http://cpl.org/lynda/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Networking for Career Opportunities</h2>
        <p>One of the reasons we are community is to share career opportunities and grow talent locally and organically. 
        For a quick glance at some of the public postings for tech positions in NEO, check out the Dice link below. 
        Collective members get first look at a lot of unpublished career leads, so be sure to register today!</p>
        <p><a class="btn btn-default" href="https://www.dice.com/jobs/sort-date-limit-30-l-Cleveland%2C_OH-radius-50-jobs.html?searchid=176089125923">Learn more &raquo;</a></p>
    </div>
</div>